.banner {
display: flex;
justify-content: center;
align-items: center;
border-radius: 25px;
box-shadow: 0px 4px 4px 0px #00000040;
background-color: rgba(0, 0, 0);
}
.banner-img {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    opacity: .6;
    width: 100%;
}
.bannerTitle {
    position: absolute;
    color: white;
}

