.card {
    background-color: #FF6060;
    border-radius: 10px;
    max-height: 340px;
    min-height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card--img {
    display: none;
}
.card--title {
    margin: 20px;
    color: white;
}
