.card {
    position: relative; /* Pour placer le titre par-dessus l'image */
    background-color: #FF6060;
    border-radius: 10px;
    height: 340px; /* Hauteur fixe sur desktop */
    width: 100%;
    overflow: hidden;
    display: block; /* Important car c'est un lien <a> */
}

.card-image {
    width: 100%;
    height: 100%; /* Prend toute la hauteur de la card */
    object-fit: cover;
    filter: brightness(0.8); 
}

.title-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #FF6060;
    box-sizing: border-box;
}

.card--title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
}
.card p {
    color: black;
}

/* --- RESPONSIVE MOBILE --- */
@media (max-width: 768px) {
    .card {
        height: 255px; /* Hauteur réduite sur mobile */
    }
    
    .card--title {
        font-size: 14px;
    }
}