.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FF6060;
    text-align: center;
}

.error--number {
    font-size: 288px; 
    font-weight: 700;
}
.error--text {
    font-size: 36px;
    margin-bottom: 100px;
}