* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-contain {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap:30px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding: 50px;
    border-radius: 10px;
    margin: 50px 0;
}
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.layout main {
    margin: 0 50px;
    position: relative;
    flex: 1;
}