h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 10px 0;
}
.location-logement {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
section {
    flex: 1;
}
.logement--collapse {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.collapse--content ul {
    list-style: none;
}

.tag-contain {
    display: flex;
    gap: 24px;
    margin: 15px 0;
}
.tag {
    border-radius: 10px;
    background-color: #FF6060;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
}

.star-full {
    color: #FF6060;
    margin-right: 5px;
}
.star-empty {
    color: #E3E3E3;
    margin-right: 5px;
}
