h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}
.logement-container {
    padding: 0 17px;
}
.location-logement {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.collapse--contain {
    flex: 1;
}
.logement--collapse {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.tag-contain {
    display: flex;
    gap: 24px;
    margin: 15px 0;
}
.tag {
    border-radius: 10px;
    background-color: #FF6060;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
}
.logement-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}
.logement-description,
.equipement-list {
    padding: 20px 10px;
    margin: 0;
}
.star-full {
    color: #FF6060;
    margin-right: 5px;
}
.star-empty {
    color: #E3E3E3;
    margin-right: 5px;
}
.host-container {
display: flex;
align-items: center;
gap: 10px;
}
.host-name {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    
}
.host-picture img {
    border-radius: 50%;
    max-width: 64px;
    max-height: 64px;
}

/* POUR TÉLÉPHONE */
@media screen and (max-width: 767px) {
   h1 {
    font-size: 18px;
    font-weight: 500;
   }
   .location-logement {
    font-size: 16px;
    font-weight: 500;
   }
   .logement-details {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
   }
   .logement--collapse {
    flex-direction: column;
    gap: 25px;
   }
   .logement--collapse h2 {
    font-size: 16px;
   }
   .tag {
    font-size: 10px;
    font-weight: 700;
    height: 18px;
   }
   .tag-contain {
    margin: 10px 0;
    gap: 15px;
   }
   .host-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   }
   .logement-description,
   .equipement-list {
    font-size: 14px;
   }
   .host-name span {
    font-size: 13px;
   }

   }